@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #23272a;
	font-family: "Roboto", sans-serif;
}

a {
	transition: all 275ms;
}

.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


/* Navigation */

.navbar {
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 8;
	padding: 0;
	display: block;
	margin-bottom: 16px;
	position: relative;
}

.navbar__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	max-width: 1600px;
	width: 100%;
	padding: 24px 8px;
}

.navbar .navbar__center, .navbar .navbar__left, .navbar .navbar__right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.navbar .navbar__left {
	justify-content: flex-start;
}

.navbar .navbar__center {
	flex-direction: column;;
}

.navbar .navbar__right {
	justify-content: flex-end;
	margin-left: 12px;
}

.navbar-social__icon {
	font-size: 18px;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
	color: #fff;
	margin-right: 16px;
}

#navbar .navbar__left {
	border-radius: 8px;
	background:rgba(0, 0, 0, 0.2);
	padding: 8px 0px 8px 12px;
}

.navbar-site-logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navbar__logo {
  border-radius: 50%;
  cursor: pointer;
  transition: all 275ms;
  border: 3px #ffb6c1 solid;
}

.navbar__logo--x-large {
  width: 70px;
  height: 70px;
}

.navbar__logo--mobile {
  width: 35px;
  height: 35px;
}

.navbar-links-item {
	position: relative;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
}

.donate {
	color: #fff !important;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 8px;
	text-transform: uppercase;
}